header {
    margin: 30px 0 0 0;
    padding: 25px 100px;
    font-family: Arial, fantasy;
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)
    ), url(https://static1.s123-cdn-static-a.com/ready_uploads/media/8740496/800_60f3532d4e8b0.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top 0;
    background-size: cover;
}

.title {
    text-align: center;
    padding: 10px 0;
    margin-top: calc(600px - 300px); /* קודם כל תמונה באורך של 300px ולאחר מכן המרחק מהתקרה */
    margin-bottom: 300px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    border-radius: 10px;
    height: 150px; /* גובה התמונה */
}
#header_title{
    font-size: 75px;
    padding: 0;
    margin: 0;
}
.subtitle{
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.top_menu ul {
    font-family: Arial, fantasy;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.inner_menu {
    margin-right: 20px;
    font-weight: bold;
}

.inner_menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.the_entrance {
    font-family: Arial, fantasy;
    text-align: center;
    color: black;
    padding: 25px 150px;
    font-size: 17px;
    font-weight: bolder;
}

.see_more_button {
    display: inline-block;
    color: black;
    border: 2px solid black;
    padding: 10px 30px;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    position: inherit;
    margin-left: 150px;
    margin-right: 150px;
}

.rights{
    text-align: center;
    font-family: Arial, fantasy;
    font-size: 10px;
    color: white;
}


.tables_icons{
    margin-left: 680px;
}
.icons{
    width: 30px;
    height: 30px;
    border-radius: 20px;
}
.round_gallery {
    display: flex;
    overflow: hidden;

}
.round_gallery img {
    padding: 50px;
    width:200px ;
    height: 200px;
    animation: slide 20s linear infinite;
    border-radius: 50px;
}

@keyframes slide {
    0%, 10% {
        transform: translateX(0);
    }
    15%, 25% {
        transform: translateX(-100%);
    }
    30%, 40% {
        transform: translateX(-200%);
    }
    45%, 55% {
        transform: translateX(-300%);
    }
    60%, 70% {
        transform: translateX(-400%);
    }
    75%, 85% {
        transform: translateX(-500%);
    }
    90%, 100% {
        transform: translateX(-600%);
    }
}
.special_flowers_text{
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
    margin: 0;
}
.poisonous_flowers_text{
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
    margin: 0;
    color: white;
}
.poisonous_flowers_text:before{
    top: -100px; /* כמה פיקסלים להעלות את הרקע מעל הטקסט */
    bottom: -100px;
}
.about_us_picture{
    float: right;
    margin-right: 20px;
    margin-left: 10px;
    width: 350px;
    height: 249px;
    border-radius: 10px;
}
.about_us_p{
    text-align: center;
    padding-top: 10px;
    padding-right: 100px;
    padding-bottom: 80px;
    padding-left: 100px;
    font-size: 20px;
    font-weight: bolder;
    font-family: Arial, fantasy;
}
.contact_us{
    margin-top: 50px;
    text-align: center;
}
.more_about{
    font-family: Arial, fantasy;
    color: blue;
    text-decoration: none;
}
.special_flowers{
    background-color: #ffffff;
    background-size: 100%;
}
.poisonous_flowers{
    background-color: #B2D3C2;
    background-size:100% 100%;
}
.about_us{
    background-color:#ffffff;
}
.contact_us{
    background-color:  #B2D3C2;
}
footer{
    background-color: #1b262c;
    margin: 0;
}
/*   padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 40px;*/